/*
CSS additionel pour utiliser la charte SGDF et améliorer le thème existant.
À modifier avec précaution !

Pour toute modification, merci de mettre à jour le fichier 
additional-css-sgdfmesnil.css présent sur le git https://framagit.org/sgdfmesnil/site-sgdfmesnil
pour conserver une certaine traçabilité.
*/

/** POLICES */
/* SGDF FONTS: Sarabun (body), Raleway (title) and Caveat Brush (title and emphasis) */
/* latin */
@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Sarabun-Regular"),
    url(https://fonts.gstatic.com/s/sarabun/v7/DtVjJx26TKEr37c9aBVJnw.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Caveat Brush";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("CaveatBrush-Regular"),
    url(https://fonts.gstatic.com/s/caveatbrush/v5/EYq0maZfwr9S9-ETZc3fKXt8XLOS.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtaorCIPrE.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/** COULEURS ET STYLES */
/* SGDF COLORS AND STYLES */
:root {
  /* SGDF colors */
  --sgdf: #003a5d;
  --default: #003a5d;
  --primary: #003a5d;
  --dark: #003a5d;

  --secondary: #585858;

  --farfa: #65bc99;
  --farfadet: #65bc99;
  --vert-clair: #65bc99;
  --teal: #65bc99;
  --info: #65bc99;

  --lj: #ff8300;
  --louveteau-jeannette: #ff8300;
  --orange: #ff8300;
  --warning: #ff8300;

  --sg: #0077b3;
  --scout-guide: #0077b3;
  --bleu: #0077b3;
  --blue: #0077b3;

  --piok: #d03f15;
  --pionnier-caravelle: #d03f15;
  --rouge: #d03f15;
  --red: #d03f15;
  --danger: #d03f15;

  --compa: #007254;
  --compagnon: #007254;
  --vert: #007254;
  --green: #007254;
  --success: #007254;

  --vent-du-large: #6e74aa;
  --chef: #6e74aa;
  --responsable: #6e74aa;
  --violet: #6e74aa;
  --purple: #6e74aa;

  /* Used in CSS classes */
  --header: var(--sgdf);
  --text: var(--sgdf);
  --link: var(--sgdf);
  --link-visited: var(--chef);
  --link-active: var(--lj);

  --font-title: "Caveat Brush", Arial, Helvetica, sans-serif;
  --font-title-alt: "Raleway-bold", Arial, Helvetica, sans-serif;
  --font-emphasis: "Caveat Brush", Arial, Helvetica, sans-serif;
  --font-family-sans-serif: "Sarabun", Arial, Helvetica, sans-serif;
}

/** TAGS HTML */
/* Body / Corps de texte */
body {
  font-family: var(--font-family-sans-serif);
}

/* Emphase */
em {
	font-style: italic;	
}


.emphasis {
	font-style: italic;	
	font-family: var(--font-emphasis);
}

/* Liens */
a {
  color: var(--link);
  font-family: var(--font-emphasis);
  text-decoration: none !important; /* pas de soulignement */
}

/* Lien actif, lorsqu'on passe la souris dessus */
a:active,
a:hover,
a:focus {
  color: var(--link-active);
}
.sigle-post-content-area p a:hover {
    color: var(--link-active);
}

/* Titres 1 et 2 */
h1,
h2 {
  color: var(--header);
  text-align: center;
  padding: 1rem 1rem;
  font-family: var(--font-title);
}

h1 > a,
h2 > a {
  font-family: var(--font-title);
}

/* Titres 3 à 6 */
h3,
h4,
h5,
h6 {
  color: var(--text);
  text-align: center;
  padding: 1rem 1rem;
  font-family: var(--font-title-alt);
}

h3 > a,
h4 > a,
h5 > a,
h6 > a {
  font-family: var(--font-title-alt);
}

/** CLASSES HTML */
/* SGDF classes */
/* Coloration */
.white {
  color: white !important;
}
.farfa {
  color: var(--farfa) !important;
}
.lj {
  color: var(--lj) !important;
}
.sg {
  color: var(--sg) !important;
}
.piok {
  color: var(--piok) !important;
}
.compa {
  color: var(--compa) !important;
}
.chef {
  color: var(--chef) !important;
}

/* Coloration d'arrière-plan */
.white-bg {
  background: white;
}
.farfa-bg {
  background: var(--farfa);
}
.lj-bg {
  background: var(--lj);
}
.sg-bg {
  background: var(--sg);
}
.piok-bg {
  background: var(--piok);
}
.compa-bg {
  background: var(--compa);
}
.chef-bg {
  background: var(--chef);
}

/* Coloration au focus en fonction de la branche */
.farfa-focus a:active,
.farfa-focus a:hover,
.farfa-focus a:focus {
  color: var(--farfa) !important;
}

.lj-focus a:active,
.lj-focus a:hover,
.lj-focus a:focus {
  color: var(--lj) !important;
}

.sg-focus a:active,
.sg-focus a:hover,
.sg-focus a:focus {
  color: var(--sg) !important;
}

.piok-focus a:active,
.piok-focus a:hover,
.piok-focus a:focus:active {
  color: var(--piok) !important;
}

.compa-focus a:active,
.compa-focus a:hover,
.compa-focus a:focus {
  color: var(--compa) !important;
}

/* Tableau sans bordure */
.no-border-table td,
.no-border-table th {
  border: none;
}

/* Bouton de recherche */
.search-icon .btn-search:hover {
  background: var(--sgdf);
  color: white;
}
.search-icon .btn-search {
  margin-top: 3px;
  border: 1px solid var(--sgdf);
  cursor: pointer;
  height: 32px;
  width: 32px;
}

/* Bouton de menu mobile */
.mobile-menu-icon .mobile-menu {
  padding: 4px 3px 8px;
  cursor: pointer;
}

/* Tableau flex centré (retour à la ligne si le contenu ne tient pas sur une ligne) */
.table-flex > table tr {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.table-flex > table tr > td {
	min-width: 12rem;
}

/* CORRECTION du style imposé par le thème */

/* Haut de page qui était en parti assombri --> devient totalement transparent */
.header-inner.withbg::before {
	background-color: transparent;
}
/* Bloc d'espacement */
.wp-block-spacer {
    display: inherit;
}

/* Style de liste dans un article */
.sigle-post-content-area ul {
	list-style: inherit;
	list-style-image: url("/wp-content/uploads/2020/08/caillou-01-15px.png");
}

.um-dropdown ul, .um-dropdown li {
	list-style-image: none !important;
}

.sigle-post-content-area ul li {
	margin-left: 20px;
	padding: 10px;
}


/* Style de liste ordonnée (avec des numéros) dans un article */
.sigle-post-content-area ol li {
    display: block;
}

/* Ne pas afficher la partie Article précédent/suivant en bas d'article */
/* Pourquoi : 1) pas très utile 2) les titres des articles protégés par l'extension Ultimate Member peuvent apparaître */
/* https://wpfr.net/support/sujet/supprimer-article-suivannt-et-article-precedent/ */
.single .post-navigation {
    display: none;
}


/* Encadré */
.encadrement {
    padding: 10px;
    border: 1px solid #eee;
    margin-right: 15px;
    margin-bottom: 15px;
}


/* WIDGETS */
/* Menu widgets */
.widget_nav_menu .menu > li {
  list-style: square;
	list-style-image: url("/wp-content/uploads/2020/08/caillou-01-15px.png");
  margin-left: 25px;
	font-size: 17px;
}

footer .widget_nav_menu .menu > li {
		list-style: none;
		list-style-image: none;
}

/* PIED DE PAGE */
/* Pied de page / footer */
.footer-bg {
    background-color: var(--dark);
	background-image: url("https://sites.sgdf.fr/wp-content/themes/sgdf-basic/images/footer-1920x1280.jpg");
    padding-top: 0;
    margin-top: 0;
}

.copy-right {
    background-color: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 40px;
    text-align: center;
}

/* Liens du bas de page */
.footer-bg a:hover,
.footer-bg a:focus, .footer-bg a:active {
	color: var(--lj)
}


/* VERSION MOBILE (inf. à 992px) */
/* Correspond à la feuille de style responsive.css du thème. */
@media (max-width: 992px) {
  /* Menu mobile */
  .main_navigation ul li a {
    background: var(--sgdf);
  }

  .main_navigation {
    padding-top: 50px;
  }

  .header-inner.withbg .header-bottom-block .main_navigation ul li a:hover {
    color: var(--chef);
  }

  /* Bouton de menu mobile */
  .header-inner.withbg .mobile-menu-icon .mobile-menu {
    color: var(--sgdf);
    border: 1px solid var(--sgdf);
    transition: 0.5s ease all;
  }
  .mobile-menu:hover,
  .mobile-menu-icon:hover {
    background: var(--sgdf) !important;
    color: white !important;
  }
  /* fin version mobile */
}
/* fin version mobile */

/* CALENDRIER FullCalendar */
.fc-button-primary {
	    color: white;
	background: var(--sg);
	border-color: var(--dark);
}

.fc-button-primary:not(:disabled).fc-button-active, .fc-button-primary:not(:disabled):active {
    color: white;
    background-color: var(--sgdf);
    border-color: var(--dark);
}

/* DIVERS */

/* Override Bootstrap classes */
/* Buttons */
.btn-success {
  background-color: var(--success);
  border-color: var(--success);
}
.btn-warning {
  background-color: var(--warning);
  border-color: var(--warning);
}
.btn-danger {
  background-color: var(--danger);
  border-color: var(--danger);
}
